@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {

    background-image: url(./assets/background.jpg);
    background-size: auto 215%;
    background-repeat: no-repeat;
    background-position: 44% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    color: #a73535;
    text-shadow: 5px 5px 9px #fbcba3;
    font-size: 2.3rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #a73535;
    text-shadow: 5px 5px 9px #fbcba3;
    font-size: 4.2rem;
    margin-top: 5rem;
    text-align: center;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.big-text {
    font-weight: bold;
    font-size: 5rem;
    color: #a73535;
    text-shadow: 5px 5px 9px #fbcba3;
    line-height: 1;
    margin: 1rem 2rem; /* 1rem top und bottom 2 rem links rechts */
    text-align: center;
}

.countdown-el {
    text-align: center;
}

span {
    font-weight: bold;
    text-align: center;
    color: #a73535;
    text-shadow: 5px 5px 9px #fbcba3;
    font-size: 1.8rem;
    margin: 1rem 2rem;   
} 